body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure, h1, h2, h3, h4, h5, h6, form, select {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

ul, li {
  list-style-type: none;
}

input {
  outline-width: 0;
}

body {
  padding: 100px 0px;
}

header, footer {
  position: fixed;
  width: 100%;
  background-color: aquamarine;
  min-height: 100px;
  text-align: center;
  line-height: 100px;
}

header {
  top: 0px;
  text-align: center;
  line-height: 100px;
}

footer {
  bottom: 0px;
}


table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid black;
  padding: 10px 20px;
}

.main-container {
  margin: 50px 15px;
}

.flash {
  display: block;
  text-align: center;
  border: 1px solid greenyellow;
  padding: 15px;
  margin-bottom: 12px;
  background-color: rgb(194, 236, 130);
}

table {
  margin-bottom: 30px;
}
li {
  padding-top: 20px;
}
input {
  width: 100%;
}

textarea {
  width: 100%;
}

h2 {
  padding-bottom: 20px;
}
p {
  padding-top: 10px;
  padding-bottom: 10px;
}

table th {
  background-color: rgb(134, 242, 244);
}